/home/jsharpe/.bash_profile && cd /home/jsharpe/webapps/wheremybusat/wheremybusat && wget -N http://www.regionofwaterloo.ca/opendatadownloads/GRT_GTFS.zip && unzip -o GRT_GTFS.zip -d GRT_GTFS && (git diff-index --quiet HEAD || (git commit -am "Automated: Updated GRT_GTFS." && git push origin master)) > /home/jsharpe/wheremybusat_tmp_out 2>&1 && ~/webapps/wheremybusat/apache2/bin/restart
