body {
  margin: 5px;
}

.padded {
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.tomorrow {
  color: #888;
}

.realtime {
  margin-top: 10px;
  margin-bottom: 10px;
}

.scheduled {
}

.realtime_link {
  font-size:small;
}
