{% extends "base.html" %}

{% block global_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" ></script>
<script src="/static/underscore.js"></script>
<script src="/static/lib.js"></script>
{% endblock %}

{% block body %}

{% block summary %}
<form class="padded" id="route_filter_form">
  <div>
    <label for="route_filter">
      Enter comma-separated route numbers to show only those routes. (e.g. "7",
      or "8, 23")
    </label>
  </div>
  <input type="text" id="route_filter" />
  <input type="submit" value="Filter" />
  <div><span class="error" id="route_error"></span></div>
</form>

{% if routes %}
<div class="padded">
  <i>Showing stop times for routes {{ ', '.join(routes) }}</i>
  <a href="{% block no_routes_link %}{% endblock %}">X</a>
</div>
{% endif %}
{% endblock %}

<div id="response">Loading...</div>
{% block more %}{% endblock %}

<form class="padded" id="stop_filter_form">
  <div>
    <label for="stop_filter">
      Enter comma-separated stop numbers to show those stops. (e.g. "2456", or
      "2456, 2457")
    </label>
  </div>
  <input type="text" id="stop_filter" />
  <input type="submit" value="Go" />
  <div><span class="error" id="stop_error"></span></div>
</form>

{% endblock %}
